<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="100.0.23" targetFramework="net472" />
  <package id="cef.redist.x86" version="100.0.23" targetFramework="net472" />
  <package id="CefSharp.Common" version="100.0.230" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="100.0.230" targetFramework="net472" />
  <package id="docfx.console" version="2.59.2" targetFramework="net472" developmentDependency="true" />
  <package id="Doxygen" version="1.8.14" targetFramework="net472" developmentDependency="true" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Google.Apis" version="1.56.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.56.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.56.0" targetFramework="net472" />
  <package id="Google.Apis.YouTube.v3" version="1.56.0.2630" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1185.39" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>